{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center mb-3">
        <h1>Profile page</h1>
    </div>

    <div class="container">
       
        <div class="row">

            <div class="col-4 border-right">
                <p>{{ user.email }}<br>
                {{ user.pseudo }}</p>
            </div>

            <div class="col-4">
                <img style="width:200px;height:200px;" src="{{ asset('uploads/image/' ~ user.image ) }}" alt="Image user's">
            </div>

             {% if user.information %}
                <div class="col-3 border-left">
                    <p>{{ user.information.nom }}<br>
                    {{ user.information.prenom }}<br>
                    {{ user.information.dateNaissance|date("Y-m-d") }}<br>
                    {{ user.information.adresse }}<br>
                    {{ user.information.ville }}<br>
                    {{ user.information.cp }}<br>
                    {{ user.information.description }}</p>
                </div>
            {% endif %}
        
        </div> 
        
    </div>
    
    <div class="container">
        <button onclick="myDisplay()" class="btn btn-success">+</button>
            <div id="george">
                {{ form(addPost) }}
            </div>
    </div>

    <script>

        function myDisplay(){

            $("#george").toggle(
                function() {
                    $(this).addClass("george");
                }, function() {
                    $(this).removeClass("george");
                }
            );

        }
        
    </script>

    {% if affichagePosts %}

        <div class="container border">

            <div class="row p-3">
                <img class="pr-2" style="width:50px;height:50px;" src="{{ asset('uploads/image/' ~ user.image ) }}" alt="Image user's">
                <p>{{ user.pseudo }}</p> 
            </div>
            
            {% for affichagePost in affichagePosts %}
                
                {% for image in affichagePost.imagePost %}

                    <img style="width:100px;height:100px;" src="{{ asset('uploads/image/' ~ image.image ) }}" alt="">
                
                {% endfor %}

                <p>{{ affichagePost.contenu }}</p>
                <small>{{ affichagePost.datepost|date("d-m-Y H-i-s") }}</small>

            {% endfor %}

        </div>

    {% endif %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{% endblock %}