{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}
         
{% block body %}
   
    <div class="container chat "> 
        <div class="row headerChat mb-5">
        {# je récupère les données du user avec qui je chat  #}
            <img class="imageUserHeader ml-1" src="{{userReceiver.image}}" alt="">
            <h4 class="ml-3">{{userReceiver.pseudo}}</h4>
        </div>
        
        {# j'appelle le fichier qui contient mes messages pour les remplacer toutes les 5 secondes pour un rechargement auto #}
        {% include 'chat/messages.html.twig' %}
        
        {# j'affiche mon formulaire de message  #}
        {{ form_start(formMessage)}}
            <div class="row">
                <div class="col-8">
                    {{form_row(formMessage.contenu)}}
                </div>
                  <div class="col-4">
                    {{form_row(formMessage.image)}}
                </div>
                
            </div>
        {{ form_end(formMessage)}}

    </div>
    
    {# j'appelle ma fonction charger qui me sert a recharger mon chat toute les 5 secondes #}
{% endblock %}
{% block additionnalJS %}
    <script src="/js/chat.js"></script>
    <script> 
        charger({{ userReceiver.id }});
    </script>
{% endblock %}
