<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}aUz{% endblock %}</title>
    {% block stylesheets %}
    
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    
    {% endblock %}
</head>
<body>
    <nav class="maNavbar navbar fixed-top navbar-expand-md navbar-dark bg-dark">
        
        {% block header %}
        <a class="navbar-brand" href="{{ path('home') }}">#HenriettO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                    <label for="" class="ml-4 text-light">Déconnexion</label>
                    <a href="{{ path('app_logout') }}" class="ml-2 btn btn-outline-light">
                        <i class="text-hover-dark fas fa-sign-out-alt"></i>
                    </a>
                </form>
                <li class="nav-item">
                    
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register')}}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login')}}">Connexion</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock %}
    
    <main class="container-fluid">
        {% block body %}{% endblock %}
    </main>
    {% block footer %}
<<<<<<< HEAD
    <footer class="monFooter">
        {% if is_granted('IS_AUTHENTICATED_FULLY')%}
        <div class="row fixed-bottom bg-dark text-light d-flex justify-content-center align-items-center">
            <section class="col-3 d-flex justify-content-center align-items-center p-2"><a href="{{ path('home') }}"><i class="fas text-light fa-3x fa-home"></i></a></section>
            <section class="col-3 d-flex justify-content-center align-items-center p-2"><a href="{{ path('profile_show') }}"><i class="fas text-light fa-3x fa-user"></i></a></section>
            <section class="col-3 d-flex justify-content-center align-items-center p-2"><a href="{#{{ path('conversations') }}#}"><i class="fas text-light fa-3x fa-comments"></i></a></section>
            <section class="col-3 d-flex justify-content-center align-items-center p-2"><a href="{{ path('settings') }}"><i class="fas text-light fa-3x fa-user-cog"></i></a></section>
        </div>
        {% else %}
        <div class="row fixed-bottom bg-dark text-light d-flex justify-content-center align-items-center">
            <section class="welcomeMessage text-center d-flex align-items-center">
                <h1>Bienvenue sur #HenriettO</h1>
            </section>
        </div>
        {% endif %}
    </footer>
=======
    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
    <div class="row fixed-bottom bg-dark text-light d-flex justify-content-center align-items-center">
        <section class="col-3 d-flex justify-content-center align-items-center p-2"><a href="{{ path('home') }}"><i class="fas text-light fa-3x fa-home"></i></a></section>
        <section class="col-3 d-flex justify-content-center align-items-center p-2"><a href="{{ path('profile_show') }}"><i class="fas text-light fa-3x fa-user"></i></a></section>
        <section class="col-3 d-flex justify-content-center align-items-center p-2"><a href="{{ path('conversation') }}"><i class="fas text-light fa-3x fa-comments"></i></a></section>
        <section class="col-3 d-flex justify-content-center align-items-center p-2"><a href="{{ path('settings') }}"><i class="fas text-light fa-3x fa-user-cog"></i></a></section>
    </div>
    {% else %}
    <div class="row fixed-bottom bg-dark text-light d-flex justify-content-center align-items-center">
        <section class="welcomeMessage text-center d-flex align-items-center">
            <h1>Bienvenue sur #HenriettO</h1>
        </section>
    </div>
    {% endif %}
>>>>>>> d4195449a97ac30373f48cc9c3da75df3d9a27c3
    {% endblock %}
    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/fontawesome/all.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
    {% endblock %}
    {% block additionnalJS %}{% endblock %}
</body>
</html>
