{# Appel au template de base pour l'affichage du footer et de la navbar #}
{% extends 'base.html.twig' %}

{% block body %}
    
    {# On récupère toutes les conversations dans lesquelles est impliqué notre utilisateur #}
    {% for conversation in conversations  %}
        <div class="container border my-3 bg-dark text-light">
        {# On affiche toutes les conversation ou l'id de l'utilisateur connecté correspond à l'id du userReceiver #}
        {% if app.user == conversation.userReceiver %}
        
            {# Avec la photo de profil de son correspondant #}
            <img class="imageUserChat" {# ajout d'une classe qui définit la taille des images #} src="/uploads/image/{{ conversation.userSender.image }}">
            {# le pseudo de son correspondant #}
            <a class="colorPseudo" href="{{ path('chat', {'id' : conversation.userSender.id })}}"><h4>{{ conversation.userSender.pseudo  }}</h4></a>
            {# et le dernier message de leur conversation #}
            <p>{{ conversation.messages[conversation.messages|length -1].contenu }}</p>
        
        {# Et toutes les conversations ou l'id de l'utilisateur connecté correspond à l'id du userSender #}    
        {% else %}
            {# Avec la photo de profil de son correspondant #} 
            <img class="imageUserChat" {# ajout d'une classe qui définit la taille des images #} src="/uploads/image/{{ conversation.userSender.image }}">
            {# le pseudo de son correspondant #}
            <a class="colorPseudo" href="{{ path('chat', {'id' : conversation.userReceiver.id })}}"><h4>{{ conversation.userReceiver.pseudo  }}</h4></a>
            {# et le dernier message de leur conversation #}
            <p>{{ conversation.messages[conversation.messages|length -1].contenu }}</p>
        {% endif %}
        </div>  
    {% endfor %}
    
{% endblock %}